## 3. Python program to display IMDBâ€™s Top rated 100 Indian movies

In [5]:
from bs4 import BeautifulSoup
import requests

In [8]:
url='https://www.imdb.com/list/ls056092300/'
page=requests.get(url)
page

In [22]:
soup = BeautifulSoup(page.content)
Name=[]
Rating=[]
Year=[]

for i in soup.find_all('div',class_='lister-item-content'):
    Name.append(i.find('a').text)
Name

['Ship of Theseus',
 'Iruvar',
 'Kaagaz Ke Phool',
 'Lagaan: Once Upon a Time in India',
 'Pather Panchali',
 'Charulata',
 'Rang De Basanti',
 'Dev.D',
 '3 Idiots',
 'Awaara',
 'Nayakan',
 'Aparajito',
 'Pushpaka Vimana',
 'Pyaasa',
 'Ghatashraddha',
 'Sholay',
 'Aradhana',
 'Do Ankhen Barah Haath',
 'Bombay',
 'Neecha Nagar',
 'Do Bigha Zamin',
 'Garm Hava',
 'Piravi',
 'Mughal-E-Azam',
 'Amma Ariyan',
 'Madhumati',
 'Goopy Gyne Bagha Byne',
 'Gangs of Wasseypur',
 'Guide',
 'Satya',
 'Roja',
 'Mr. India',
 'The Cloud-Capped Star',
 'Harishchandrachi Factory',
 'Masoom',
 'Agneepath',
 'Tabarana Kathe',
 'Zakhm',
 'Dil Chahta Hai',
 'Bhaag Milkha Bhaag',
 'Chupke Chupke',
 'Dilwale Dulhania Le Jayenge',
 'Taare Zameen Par',
 'Ardh Satya',
 'Bhumika',
 'Enthiran',
 'Sadma',
 'Shwaas',
 'Lamhe',
 'Haqeeqat',
 'Shree 420',
 'Kannathil Muthamittal',
 'Hum Aapke Hain Koun..!',
 'Ustad Hotel',
 'Bandit Queen',
 'Lakshya',
 'Black Friday',
 'Manthan',
 'Apoorva Raagangal',
 'English Vinglish',
 'Jewel Thief',
 'Pakeezah',
 'Maqbool',
 'Jis Desh Men Ganga Behti Hai',
 'Sahib Bibi Aur Ghulam',
 'Shatranj Ke Khilari',
 'Narthanasala',
 'Chandni Bar',
 'Vaaranam Aayiram',
 'Mr. and Mrs. Iyer',
 'Chandni',
 'English, August',
 'Celluloid',
 'Sagara Sangamam',
 'Munna Bhai M.B.B.S.',
 'Saaransh',
 'Guddi',
 'Vanaja',
 'Vazhakku Enn 18/9',
 'Gangaajal',
 'Angoor',
 'Guru',
 'Andaz Apna Apna',
 'Sangam',
 'Oka Oori Katha',
 'Bhuvan Shome',
 'Border',
 'Parineeta',
 'Devdas',
 'Abohomaan',
 'Kuch Kuch Hota Hai',
 'Pithamagan',
 'Veyyil',
 'Chemmeen',
 'Jaane Bhi Do Yaaro',
 'Apur Sansar',
 'Kanchivaram',
 'Monsoon Wedding',
 'Black',
 'Deewaar']

In [23]:
for i in soup.find_all('div',class_='ipl-rating-star small'):
    Rating.append(i.find('span',class_='ipl-rating-star__rating').text)
Rating

['8.1',
 '8.5',
 '8',
 '8.1',
 '8.4',
 '8.2',
 '8.1',
 '8',
 '8.4',
 '7.9',
 '8.7',
 '8.3',
 '8.6',
 '8.5',
 '7.3',
 '8.2',
 '7.6',
 '8.4',
 '8.1',
 '6.9',
 '8.3',
 '8.1',
 '7.7',
 '8.2',
 '7.2',
 '8',
 '8.8',
 '8.2',
 '8.4',
 '8.3',
 '8.2',
 '7.8',
 '8',
 '8.4',
 '8.4',
 '7.7',
 '8',
 '7.9',
 '8.1',
 '8.2',
 '8.3',
 '8.1',
 '8.4',
 '8.2',
 '7.4',
 '7.1',
 '8.4',
 '8.3',
 '7.4',
 '7.8',
 '8',
 '8.4',
 '7.5',
 '8.2',
 '7.6',
 '7.9',
 '8.5',
 '7.7',
 '7.5',
 '7.8',
 '8',
 '7.4',
 '8.1',
 '7.4',
 '8.3',
 '7.7',
 '7.7',
 '7.6',
 '8.2',
 '7.9',
 '6.8',
 '6.9',
 '7.7',
 '8.8',
 '8.1',
 '8.2',
 '7.2',
 '7.2',
 '8.3',
 '7.8',
 '8.3',
 '7.7',
 '8.1',
 '7.5',
 '7.7',
 '7.4',
 '7.9',
 '7.2',
 '7.9',
 '7.4',
 '7.6',
 '8.4',
 '7.8',
 '7.8',
 '8.4',
 '8.5',
 '8.1',
 '7.4',
 '8.2',
 '8.1']

In [24]:
for i in soup.find_all('h3',class_='lister-item-header'):
    Year.append(i.find('span',class_='lister-item-year text-muted unbold').text)
Year

['(2012)',
 '(1997)',
 '(1959)',
 '(2001)',
 '(1955)',
 '(1964)',
 '(2006)',
 '(2009)',
 '(2009)',
 '(1951)',
 '(1987)',
 '(1956)',
 '(1987)',
 '(1957)',
 '(1977)',
 '(1975)',
 '(1969)',
 '(1957)',
 '(1995)',
 '(1946)',
 '(1953)',
 '(1974)',
 '(1989)',
 '(1960)',
 '(1986)',
 '(1958)',
 '(1969)',
 '(2012)',
 '(1965)',
 '(1998)',
 '(1992)',
 '(1987)',
 '(1960)',
 '(2009)',
 '(1983)',
 '(1990)',
 '(1986)',
 '(1998)',
 '(2001)',
 '(2013)',
 '(1975)',
 '(1995)',
 '(2007)',
 '(1983)',
 '(1977)',
 '(2010)',
 '(1983)',
 '(2004)',
 '(1991)',
 '(1964)',
 '(1955)',
 '(2002)',
 '(1994)',
 '(2012)',
 '(1994)',
 '(2004)',
 '(2004)',
 '(1976)',
 '(1975)',
 '(2012)',
 '(1967)',
 '(1972)',
 '(2003)',
 '(1960)',
 '(1962)',
 '(1977)',
 '(1963)',
 '(2001)',
 '(2008)',
 '(2002)',
 '(1989)',
 '(1994)',
 '(2013)',
 '(1983)',
 '(2003)',
 '(1984)',
 '(1971)',
 '(2006)',
 '(2012)',
 '(2003)',
 '(1982)',
 '(2007)',
 '(1994)',
 '(I) (1964)',
 '(1978)',
 '(1969)',
 '(I) (1997)',
 '(2005)',
 '(1955)',
 '(2009)',
 '(1998)',
 '(2003)',
 '(2006)',
 '(1965)',
 '(1983)',
 '(1959)',
 '(2008)',
 '(2001)',
 '(2005)',
 '(1975)']

In [25]:
import pandas as pd
df=pd.DataFrame({'Name':Name,'Rating':Rating,'Year':Year})
df

                                 Name Rating    Year
0                     Ship of Theseus    8.1  (2012)
1                              Iruvar    8.5  (1997)
2                     Kaagaz Ke Phool      8  (1959)
3   Lagaan: Once Upon a Time in India    8.1  (2001)
4                     Pather Panchali    8.4  (1955)
..                                ...    ...     ...
95                        Apur Sansar    8.5  (1959)
96                        Kanchivaram    8.1  (2008)
97                    Monsoon Wedding    7.4  (2001)
98                              Black    8.2  (2005)
99                            Deewaar    8.1  (1975)

[100 rows x 3 columns]