In [1]:
from bs4 import BeautifulSoup
import requests

## a) Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating.

In [4]:
url='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
page=requests.get(url)
page

In [5]:
soup = BeautifulSoup(page.content)
soup2=BeautifulSoup(page.content)

In [13]:
Team=[]
for i in soup.find_all('td',class_='rankings-block__banner--team-name'):
    Team.append(i.find('span',class_='u-hide-phablet').text)
num=0
for i in soup2.find_all('td',class_='table-body__cell rankings-table__team'):
    num+=1
    if num>9:
        break
    Team.append(i.find('span',class_='u-hide-phablet').text)
Team

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [20]:
Matches=[]
Points=[]
for i in soup.find_all('tr',class_='rankings-block__banner'):
    Matches.append(i.find('td',class_='rankings-block__banner--matches').text)
    Points.append(i.find('td',class_='rankings-block__banner--points').text)
num=0
for i in soup2.find_all('tr',class_='table-body'):
    num+=1
    if num>9:
        break
    Matches.append(i.find_all('td',class_='table-body__cell u-center-text')[0].text)
    Points.append(i.find_all('td',class_='table-body__cell u-center-text')[1].text)
print(Matches)
print(Points)

['17', '32', '28', '32', '25', '27', '30', '30', '32', '17']
['2,054', '3,793', '3,244', '3,624', '2,459', '2,524', '2,740', '2,523', '2,657', '1,054']

In [24]:
Ranking=[]
for i in soup.find_all('td',class_='rankings-block__banner--rating u-text-right'):
    Ranking.append(i.text.replace('\n','').replace(' ',''))
num=0
for i in soup2.find_all('td',class_='table-body__cell u-text-right rating'):
    num+=1
    if num>9:
        break
    Ranking.append(i.text)
Ranking

['121', '119', '116', '113', '98', '93', '91', '84', '83', '62']

In [26]:
import pandas as pd
df=pd.DataFrame({'Team':Team,'Matches':Matches,'Points':Points,'Ranking':Ranking})
df

           Team Matches Points Ranking
0   New Zealand      17  2,054     121
1       England      32  3,793     119
2     Australia      28  3,244     116
3         India      32  3,624     113
4  South Africa      25  2,459      98
5      Pakistan      27  2,524      93
6    Bangladesh      30  2,740      91
7   West Indies      30  2,523      84
8     Sri Lanka      32  2,657      83
9   Afghanistan      17  1,054      62

## b) Top 10 ODI Batsmen along with the records of their team and rating.

In [2]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
page=requests.get(url)
page

In [3]:
soup = BeautifulSoup(page.content)
soup2=BeautifulSoup(page.content)

In [5]:
Batsmen=[]
for i in soup.find_all('div',class_='rankings-block__banner--name-large'):
    Batsmen.append(i.text)
num=0
for i in soup2.find_all('td',class_='table-body__cell rankings-table__name name'):
    num+=1
    if num>9:
        break
    Batsmen.append(i.find('a').text)
Batsmen

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Shai Hope',
 'Kane Williamson',
 'Quinton de Kock']

In [7]:
Team=[]
for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
    Team.append(i.text.replace('\n',''))
num=0
for i in soup2.find_all('td',class_='table-body__cell nationality-logo rankings-table__team'):
    num+=1
    if num>9:
        break
    Team.append(i.find('span',class_='table-body__logo-text').text)
Team

['PAK                    ',
 'IND',
 'IND',
 'NZ',
 'AUS',
 'ENG',
 'AUS',
 'WI',
 'NZ',
 'SA']

In [8]:
Rating=[]
for i in soup.find_all('div',class_='rankings-block__banner--rating'):
    Rating.append(i.text)
num=0
for i in soup2.find_all('td',class_='table-body__cell rating'):
    num+=1
    if num>9:
        break
    Rating.append(i.text)
Rating

['873', '844', '813', '801', '779', '775', '762', '758', '754', '743']

In [9]:
import pandas as pd
df=pd.DataFrame({'Batsmen':Batsmen,'Team':Team,'Rating':Rating})
df

           Batsmen                     Team Rating
0       Babar Azam  PAK                        873
1      Virat Kohli                      IND    844
2     Rohit Sharma                      IND    813
3      Ross Taylor                       NZ    801
4      Aaron Finch                      AUS    779
5   Jonny Bairstow                      ENG    775
6     David Warner                      AUS    762
7        Shai Hope                       WI    758
8  Kane Williamson                       NZ    754
9  Quinton de Kock                       SA    743

## c) Top 10 ODI bowlers along with the records of their team and rating.

In [10]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
page=requests.get(url)
page

In [11]:
soup = BeautifulSoup(page.content)
soup2=BeautifulSoup(page.content)

In [14]:
Bowlers=[]
for i in soup.find_all('div',class_='rankings-block__banner--name-large'):
    Bowlers.append(i.text)
num=0
for i in soup2.find_all('td',class_='table-body__cell rankings-table__name name'):
    num+=1
    if num>9:
        break
    Bowlers.append(i.find('a').text)
Bowlers

['Trent Boult',
 'Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada']

In [17]:
Team=[]
for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
    Team.append(i.text.replace('\n',''))
num=0
for i in soup.find_all('td',class_='table-body__cell nationality-logo rankings-table__team'):
    num+=1
    if num>9:
        break
    Team.append(i.find('span',class_='table-body__logo-text').text)
Team

['NZ                    ',
 'AUS',
 'AFG',
 'ENG',
 'BAN',
 'NZ',
 'IND',
 'AUS',
 'BAN',
 'SA']

In [22]:
Rating=[]
for i in soup.find_all('div',class_='rankings-block__banner--rating'):
    Rating.append(i.text)
num=0
for i in soup.find_all('td',class_='table-body__cell rating'):
    num+=1
    if num>9:
        break
    Rating.append(i.text)
Rating

['737', '709', '708', '700', '692', '691', '679', '652', '650', '643']

In [23]:
import pandas as pd
df=pd.DataFrame({'Bowlers':Bowlers,'Team':Team,'Rating':Rating})
df

            Bowlers                    Team Rating
0       Trent Boult  NZ                        737
1    Josh Hazlewood                     AUS    709
2  Mujeeb Ur Rahman                     AFG    708
3      Chris Woakes                     ENG    700
4      Mehedi Hasan                     BAN    692
5        Matt Henry                      NZ    691
6    Jasprit Bumrah                     IND    679
7    Mitchell Starc                     AUS    652
8   Shakib Al Hasan                     BAN    650
9     Kagiso Rabada                      SA    643