In [1]:
from bs4 import BeautifulSoup
import requests

## a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [2]:
url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
page=requests.get(url)
page

In [4]:
soup = BeautifulSoup(page.content)
Team =[]
num=0
for i in soup.find_all('span',class_='u-hide-phablet'):
    num+=1
    if num >10:
        break
    Team.append(i.text)
Team

['Australia',
 'South Africa',
 'England',
 'India',
 'Bangladesh',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Ireland',
 'Sri Lanka']

In [50]:
soup2 = BeautifulSoup(page.content)
Matches =[]
Points =[]

for i in soup.find_all('tr',class_='rankings-block__banner'):
    Matches.append(i.find('td',class_='rankings-block__banner--matches').text)
    Points.append(i.find('td',class_='rankings-block__banner--points').text)
num=0
for i in soup2.find_all('tr',class_='table-body'):
    num+=1
    if num >9:
        break
    Matches.append(i.find_all('td',class_='table-body__cell u-center-text')[0].text)
    Points.append (i.find_all('td',class_='table-body__cell u-center-text')[1].text)
    
        
print(Matches)
print(Points)

['17', '19', '18', '17', '5', '19', '19', '18', '5', '5']
['2,746', '2,307', '2,148', '1,899', '475', '1,668', '1,658', '1,226', '240', '233']

In [52]:
Ratings=[]
for i in soup.find_all('tr',class_='rankings-block__banner'):
    Ratings.append(i.find('td',class_='rankings-block__banner--rating u-text-right').text.replace('\n','').replace(' ',''))
num=0                  
for i in soup2.find_all('tr',class_='table-body'):
    num+=1
    if num>9:
        break
    Ratings.append(i.find('td',class_='table-body__cell u-text-right rating').text)

Ratings

['162', '121', '119', '112', '95', '88', '87', '68', '48', '47']

In [83]:
import pandas as pd
df=pd.DataFrame({'Team':team,'Matches':Matches,'Points':Points,'Ranking':Ranking})
df

  Team Matches Points Ranking
0   SA      17  2,746     761
1  AUS      19  2,307     750
2  IND      18  2,148     738
3  ENG      17  1,899     728
4   NZ       5    475     717
5  IND      19  1,668     710
6  AUS      19  1,658     699
7  AUS      18  1,226     690
8   WI       5    240     676
9  ENG       5    233     674

## b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [5]:
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
page=requests.get(url)
page

In [6]:
soup = BeautifulSoup(page.content)
soup2 = BeautifulSoup(page.content)
Name=[]
for i in soup.find_all('div',class_='rankings-block__banner--name-large'):
    Name.append(i.text)
num=0
for i in soup2.find_all('td',class_='table-body__cell rankings-table__name name'):
    num+=1
    if num >9:
        break
    Name.append(i.find('a').text)
Name

['Lizelle Lee',
 'Alyssa Healy',
 'Mithali Raj',
 'Tammy Beaumont',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Meg Lanning',
 'Beth Mooney',
 'Stafanie Taylor',
 'Heather Knight']

In [7]:
team=[]
for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
    team.append(i.text.replace('\n','').replace(' ',''))
num=0
for i in soup2.find_all('td',class_='table-body__cell nationality-logo rankings-table__team'):
    num+=1
    if num>9:
        break
    team.append(i.find('span',class_='table-body__logo-text').text)
team

['SA', 'AUS', 'IND', 'ENG', 'NZ', 'IND', 'AUS', 'AUS', 'WI', 'ENG']

In [8]:
Ranking=[]
for i in soup.find_all('div',class_='rankings-block__banner--rating'):
    Ranking.append(i.text)
num=0
for i in soup2.find_all('td',class_='table-body__cell rating'):
    num+=1
    if num>9:
        break
    Ranking.append(i.text)
Ranking

['761', '750', '738', '728', '717', '710', '699', '690', '676', '674']

In [9]:
import pandas as pd
df=pd.DataFrame({'Player':Name,'Team':team,'Ranking':Ranking})
df

              Player Team Ranking
0        Lizelle Lee   SA     761
1       Alyssa Healy  AUS     750
2        Mithali Raj  IND     738
3     Tammy Beaumont  ENG     728
4  Amy Satterthwaite   NZ     717
5    Smriti Mandhana  IND     710
6        Meg Lanning  AUS     699
7        Beth Mooney  AUS     690
8    Stafanie Taylor   WI     676
9     Heather Knight  ENG     674

## c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [2]:
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'
page=requests.get(url)
page

In [3]:
soup=BeautifulSoup(page.content)
soup2=BeautifulSoup(page.content)

In [10]:

Name=[]
for i in soup.find_all('div',class_='rankings-block__banner--name-large'):
    Name.append(i.text)
num=0
for i in soup2.find_all('td',class_='table-body__cell rankings-table__name name'):
    num+=1
    if num>9 :
        break
    Name.append(i.text.replace('\n',''))
Name

['Marizanne Kapp',
 'Natalie Sciver',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Hayley Matthews',
 'Jess Jonassen',
 'Katherine Brunt']

In [20]:
Team=[]
for i in soup.find_all('div',class_='rankings-block__banner--nationality'):
    Team.append(i.text.replace('\n','').replace(' ',''))
num=0
for i in soup2.find_all('td',class_='table-body__cell nationality-logo rankings-table__team'):
    num+=1
    if num>9 :
        break
    Team.append(i.find('span',class_='table-body__logo-text').text)
Team

['SA', 'ENG', 'AUS', 'WI', 'IND', 'AUS', 'SA', 'WI', 'AUS', 'ENG']

In [21]:
Ranking=[]
for i in soup.find_all('div',class_='rankings-block__banner--rating'):
    Ranking.append(i.text)
num=0
for i in soup2.find_all('td',class_='table-body__cell rating'):
    num+=1
    if num>9 :
        break
    Ranking.append(i.text)
Ranking

['384', '372', '365', '319', '299', '275', '274', '272', '272', '272']

In [22]:
import pandas as pd
df=pd.DataFrame({'Name':Name,'Team':Team,'Ranking':Ranking})
df

               Name Team Ranking
0    Marizanne Kapp   SA     384
1    Natalie Sciver  ENG     372
2      Ellyse Perry  AUS     365
3   Stafanie Taylor   WI     319
4     Deepti Sharma  IND     299
5  Ashleigh Gardner  AUS     275
6  Dane van Niekerk   SA     274
7   Hayley Matthews   WI     272
8     Jess Jonassen  AUS     272
9   Katherine Brunt  ENG     272